span {
  color: blue;
  font-weight: bold;
  font-family: Helvetica;
}

p {
  font-family: Helvetica;
}

h1 {
  background-image: url(../pattern.jpg);
  color: khaki;
  font-weight: bold;
  font-size: 100px;
  font-family: Helvetica;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

h3 {
  font-family: Helvetica;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frame h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}
